---
title: MEMORABILIA/大事记 
layout: default
description: keep hungry keep foolish
header-img: "img/ex-change.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                    <hr class="small">
                   <!-- <span class="subheading">{{ page.description }}</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
 <ul class="layui-timeline">
  
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe857;</i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">xx月</h3>
      <p>
        ARINE-Lab has been set up.
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe857;</i>
    <div class="layui-timeline-content layui-text">
      <div class="layui-timeline-title">past...</div>
    </div>
  </li>
</ul>
 </div>
	</div>
</div>
