--- 
layout: default2 
title: "Software/软件" 
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"> 

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div id="tag-heading" class="site-heading"> <!--      -->
                <!-- <h1></h1>-->
                  <!--  <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>-->
                    <!--<hr class="small">-->
                </div>
            </div>
        </div> 
    </div>
</header>

 
<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           
			<!-- <h2>We are trying our best to make it live.</h2> -->
        <div id="accordion"> 
        </div>
 
</div>
 
</div>
		</div>
	</div>
</div>
