--- 
layout: default2 
title: "Software/软件" 
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"> 

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div id="tag-heading" class="site-heading"> <!--      -->
                <!-- <h1></h1>-->
                  <!--  <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>-->
                    <!--<hr class="small">-->
                </div>
            </div>
        </div> 
    </div>
</header>

 
<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           
			<!-- <h2>We are trying our best to make it live.</h2> -->
        <div id="accordion" style="display: none;">
        	
        	<div><h3>ARINE 心理健康&职业评估系统</h3></div>
        	<div>
        		<p>
        			一款在线的心理亚健康测评系统<br/>
        			keywords:心理健康、评测、在线、量表<br/>
        			author： 殷智超<br/>
        			<i><a style="color:blue" href="//arine-mhod.nzwang-lab.net:8088/naire/info.jsp">点此去测评页</a></i><br/>
        			Version :1.0.0 <br/>
        		</p>
        	</div>
        </div>
 
</div>
 
</div>
		</div>
	</div>
</div>
