<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <ul class="list-inline">
                    {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/ARINELab">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                    {% endif %}
                </ul>
                </ul>
                <p class="copyright text-muted">
                    <a href="https://www.nzwang-lab.net:80/index">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</a>
                    <br>
                    <!-- This website has been visited <span id="busuanzi_container_site_uv"></span> times. -->
                   <span id="busuanzi_container_site_uv">
                    This website has been visited by <span id="busuanzi_value_site_uv"></span> persons.
                </span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- 网站统计 -->
<!--<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>-->
<!-- jQuery -->
<!--<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>-->
<script  type="text/javascript" src="https://nzwang-lab.net:80/js/site/jquery.min.js?v=1.0.0"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://nzwang-lab.net:80/js/site/bootstrap.min.js "/></script>

<!-- async load function -->
<script type="text/javascript">
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- <script src="{{ "/js/jquery-1.9.1.js " | prepend: site.baseurl }}"></script> -->
<!--<script src="//code.jquery.com/jquery-1.9.1.js"></script>-->
<script  type="text/javascript" src="https://nzwang-lab.net:80/js/site/js/jquery-ui.js"></script>
<script type="text/javascript">
$.ajax({
    cache : false,
    type : "GET",
    url : "/site/news/oe/lists",
    datatype : "json",
    //data : $('#signupForm').serialize(),// 你的formid
    async : false,
    error : function(request) {
      
      console.log("即将上线");
    },
    success : function(data) {
      console.log(data.code);
      alert(data.code);
      if (data.code == 0) {
        console.log(len);
        var len = data.newsList.length;
        var event_year = document.getElementById('event_year');
        var event_list = document.getElementById('event_list');
        var bol = 2000;
        var count = 0;
        for(;data.newsList[count];){
          var nid         =  data.newsList[count].nid        ;
         
          var nyear       =  data.newsList[count].nyear      ;
          var nmonth       =  data.newsList[count].nmonth      ;
//        var created     =  data.newsList[count].created    ;
//        var modified    =  data.newsList[count].modified   ;
          var nContent    =  data.newsList[count].nContent   ;
//        var type        =  data.newsList[count].type       ;
//        var tags        =  data.newsList[count].tags       ;
//        var categories  =  data.newsList[count].categories ;
//        var hits        =  data.newsList[count].hits       ;
//        var commentsNum =  data.newsList[count].commentsNum;
//        var allowComment=  data.newsList[count].allowCommen;
//        var allowPing   =  data.newsList[count].allowPing  ;
//        var allowFeed   =  data.newsList[count].allowFeed  ;
//        var status      =  data.newsList[count].status     ;
//        var author      =  data.newsList[count].author     ;
//        var gtm_create  =  data.newsList[count].gtm_create ;
//        var gtm_modified=  data.newsList[count].gtm_modifie;

          
          var event_year_li = document.createElement("li");
          var event_year_label = document.createElement("label");  
          var h3 = document.createElement("h3");
            event_year_label.setAttribute("for",nyear);
            event_year_label.innerText = nyear;
        		event_year_li.innerHTML += event_year_label;    
			event_year.appendChild(event_year_li);
          
          	if(nyear==bol){
				event_list_li = document.createElement("li");
				event_list_li.innerHTML += "<span>"+nmonth+"</span>";
				event_list_li.innerHTML += "<p><span>"+nContent+"</span></p>";
			}else{
				bol = nyear;
				h3.setAttribute("id",nyear);
				h3.innerText = nyear;
				event_list.appendChild(h3);
				
				event_list_li = document.createElement("li");
				event_list_li.innerHTML += "<span>"+nmonth+"</span>";
				event_list_li.innerHTML += "<p><span>"+nContent+"</span></p>";
			}
         
			event_list.appendChild(event_list_li);
          count++;
        }
      } else {
        alert(data.msg)
      }
    }
  });
</script>
<script async>
			$(function() {
				$('label').click(function() {
					$('.event_year>li').removeClass('current');
					$(this).parent('li').addClass('current');
					var year = $(this).attr('for');
					$('#' + year).parent().prevAll('div').slideUp(800);
					$('#' + year).parent().slideDown(800).nextAll('div').slideDown(800);
				});
			});
		</script>
<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script type="text/javascript">
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

