<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <ul class="list-inline">
                        {% if site.github_username %}
                        <li>
                            <a target="_blank" href="https://github.com/ARINELab">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </ul>
                <p class="copyright text-muted">
                    <a href="http://nzwang-lab.net:8080/index">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y'
                        }}</a>
                    <br>
                    <!-- This website has been visited <span id="busuanzi_container_site_uv"></span> times. -->
                    <span id="busuanzi_container_site_uv">
                        This website has been visited by <span id="busuanzi_value_site_uv"></span> persons.
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- 网站统计 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery-1.9.1.js " | prepend: site.baseurl }}"></script>
<!-- <script  type="text/javascript" src="http://nzwang-lab.net:8080/js/site/jquery.min.js?v=1.0.0"></script> -->
<!-- Bootstrap Core JavaScript -->
<!--<script src="{{ "//nzwang-lab.net:8080/js/site/bootstrap.min.js" | prepend: "" }}"></script>-->
<!-- <script  type="text/javascript" src="http://nzwang-lab.net:8080/js/site/bootstrap.min.js"></script> -->
<!-- <script  type="text/javascript"  src="http://nzwang-lab.net:8080/js/site/jquery-1.9.1.js"></script> -->
<!--<script src="{{ "//nzwang-lab.net:8080/js/site/jquery-ui.js" | prepend: "" }}"></script>-->
<!-- <script  type="text/javascript" src="http://nzwang-lab.net:8080/js/site/jquery-ui.js"></script> -->
<!--<script>
    async ("https://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function () {
        hljs.initHighlightingOnLoad();
    })
</script>
<script>
    async ("https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function () {
        var $nav = document.querySelector("nav");
        if ($nav) FastClick.attach($nav);
    })
</script>-->
<!-- async load function -->
<script type="text/javascript">
    function async (u, c) {
        var d = document,
            t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) {
            o.addEventListener('load', function (e) {
                c(null, e);
            }, false);
        }
        s.parentNode.insertBefore(o, s);
    }
</script>

<!--<script src="{{ "//nzwang-lab.net:8080/js/site/event_news.js" | prepend: ""}}"></script>-->
<!-- <script src="//code.jquery.com/jquery-1.9.1.js"></script> -->

<script type="text/javascript">
	$.ajax({
    cache: false,
    type: "GET",
    url: "http://www.nzwang-lab.net:8080/site/news/oe/lists",
    datatype: "jsonp",
    jsonp:"callback",
    timeout: 30000,
//  jsonpcallback:"jsonp",
    //data : $('#signupForm').serialize(),// 你的formid
//  async: false,
    error: function (err) {
       console.log(err.msg);
    },
    success: function (data) {
        //alert(data.code);
        if (data.code == 0) {
            console.log(len);
            var len = data.newsList.length;
            var event_year = document.getElementById('event_year');
            var event_list = document.getElementById('event_list');
            var bol = 2000;
            var label_bol = 1;
            var count = 0;
            for (; data.newsList[count];) {
                // 获取传来的数据并提出
                var nid = data.newsList[count].nid;
                var nyear = data.newsList[count].nyear;
                var nmonth = data.newsList[count].nmonth;
                var nContent = data.newsList[count].nContent;
                
                var h3 = document.createElement("h3");
               
                if (nyear == bol) {
                    event_list_li = document.createElement("li");
                    event_list_li.innerHTML += "<span>" + nmonth+"月" + "</span>";
                    event_list_li.innerHTML += "<p><span>" + nContent + "</span></p>";
                } else {
                    bol = nyear;
                    var event_year_li = document.createElement("li");
                	var event_year_label = document.createElement("label");
                    event_year_label.setAttribute("for", nyear);
                	event_year_label.innerText = nyear;
                    event_year_li.appendChild(event_year_label);
                     if(label_bol>=1){
                		event_year_li.className="current";
                		label_bol = label_bol-1;
               		 }
               		 event_year.appendChild(event_year_li);
                    h3.setAttribute("id", nyear);
                    h3.innerText = nyear;
                    event_list.appendChild(h3);

                    event_list_li = document.createElement("li");
                    event_list_li.innerHTML += "<span>" + nmonth+"月" + "</span>";
                    event_list_li.innerHTML += "<p><span>" + nContent + "</span></p>";
                }

                event_list.appendChild(event_list_li);
                count++;
            }
        } else {
            alert(data.msg)
        }
    }
});

	
</script>
<script type="text/javascript">
$(function(){
	$('label').click(function(){
		$('.event_year>li').removeClass('current');
		$(this).parent('li').addClass('current');
		var year = $(this).attr('for');
		$('#'+year).parent().prevAll('div').slideUp(800);
		$('#'+year).parent().slideDown(800).nextAll('div').slideDown(800);
	});
});
</script>
<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script type="text/javascript">
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?" + _baId;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}
