<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <ul class="list-inline">
                    {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/ARINELab">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                    {% endif %}
                </ul>
                </ul>
                <p class="copyright text-muted">
                    <a href="https://www.nzwang-lab.net:80/index">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</a>
                    <br>
                    <!-- This website has been visited <span id="busuanzi_container_site_uv"></span> times. -->
                   <span id="busuanzi_container_site_uv">
                    This website has been visited by <span id="busuanzi_value_site_uv"></span> persons.
                </span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- 网站统计 -->
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<script src="{{ "/js/jquery-1.9.1.js " | prepend: site.baseurl }}"></script>
<!--<script src="//code.jquery.com/jquery-1.9.1.js"></script>-->
<script src="{{ "/js/jquery-ui.js" | prepend: site.baseurl }}"></script>


   
<!-- <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
</script> -->

<script>
 
$.ajax({
    cache : false,
    type : "GET",
    url : "https://www.nzwang-lab.net:80/site/members/oe/lists",
    data : $('#signupForm').serialize(),// 你的formid
    async : true,
    error : function(request) {
      console.log("即将上线");
    },
    success : function(data) {
      if (data.code == 0) {
        alert(len);
        var len = data.memberList.length;
        var teacher = document.getElementById('teacher');
        var student = document.getElementById('student')
        var count = 0;
        for(;data.newsList[count];){

        var  mid           =  data.memberList[count].mid            ;   
        var  mPic          =  data.memberList[count].mpic           ;
        var  mname         =  data.memberList[count].mname          ;         
        var  mnameEng      =  data.memberList[count].mnameEng       ;        
        var  created       =  data.memberList[count].created        ;         
        var  modified      =  data.memberList[count].modified       ;        
        var  mjob          =  data.memberList[count].mjob           ;        
        var  mintroduce =  data.memberList[count].mintroduce        ;    
        var  mintroduceEng =  data.memberList[count].mintroduceEng  ;         
        var  mResearea     =  data.memberList[count].mResearea      ;         
        var  mReseareaEng  =  data.memberList[count].mReseareaEng   ;        
        var  gtm_create    =  data.memberList[count].gtm_create     ;         
        var  gtm_modified  =  data.memberList[count].gtm_modified   ;        

          var div = document.createElement("div");
          

          if(mjob==teacher){
            div.innerHTML += " <div>"+
            "<img src='"+mPic+"'></div>"+
            "<div class='s-item-text-group s-mh'>"+
            "<div class='s-item-title'>"+
            "<div class='s-component s-text'>"+
              "<h3 align='center' class='s-component-content s-font-heading'><p>"+mname+"/"+mnameEng+"</p></h3></div>"+"</div></div>"+
              mintroduceEng+"<br/><br/><br/>"+
              "<div class='s-item-text'>"+
                "<div class='s-component s-text'>"+
                "<div class='s-component-content s-font-body'>"+
                "<span style='font-size:16pt'>Research Area : </span>"+
                mintroduceEng+"</div></div></div>";

                teacher.appendChild(div);

          }else if(mjob==student){
            div.className = 's-block-item s-repeatable-item s-block-sortable-item s-block-largeProfile  block-component-item';
        
            div.setAttribute('align','center');
            div.innerHTML += 
            "<div class='s-block-item-inner clearfix' style='position: relative;'>"+
            "<div class='  columns third no-float'>"+
            "<div class='s-block-profile'>"+
             " <div class='s-item-media-group s-mhi' style=''>"+
              "  <div class='s-component s-media '>"+
              "      <div class='s-component-content'>"+
               "         <div class='s-ratio-box' style='max-width: 260px; max-height: 360px;'>"+
                "          <div class='s-ratio-fill' style='padding-bottom: 130%;'></div>"+
                 "         <div><img alt='' title='' class='crop-default lazyloaded' data-description='' width='320' height='320' src='"+mPic+"'>"+
                  "        </div>"+
                        "</div>"+
                      "</div>"+
                "</div>"+
              "</div>"+
              "<div class='s-item-text-group s-mh'>"+
               " <div class='s-item-title'>"+
                "  <div class='s-component s-text'>"+
                 "   <h3 class='s-component-content s-font-heading'><p>"+mname+"/"+mnameEng+"</p></h3></div>"+
                "</div>"+
                "<div class='s-item-subtitle'>"+
                 " <div class='s-component s-text'>"
                  "  <h6 class='s-component-content s-font-body'><p>"+
                  mintroduce+"</p></h6></div>"+
               " </div>"+
                "<div class='s-item-text'>"+
                 " <div class='s-component s-text'>"+
                  "  <div class='s-component-content s-font-body'>"+
                   "   <p>研究方向："+mResearea+"</p>"+
                    "  <p>Research Area："+mReseareaEng+"</p>"+
                    "</div>"+
                  "</div>"+
                "</div>"+
              "</div>"+
            "</div>"+
          "</div>"+
        "</div>"+
      "</div>";
        student.appendChild(div);
          }          
          count++;
        }
      } else {
        alert(data.msg)
      }
    }
  });
</script>

<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

