<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <ul class="list-inline">
                    {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/ARINELab">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                    {% endif %}
                </ul>
                </ul>
                <p class="copyright text-muted">
                    <a href="http://www.nzwang-lab.net:8080/index">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</a>
                    <br>
                    <!-- This website has been visited <span id="busuanzi_container_site_uv"></span> times. -->
                   <span id="busuanzi_container_site_uv">
                    This website has been visited by <span id="busuanzi_value_site_uv"></span> persons.
                </span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- 网站统计 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery-1.9.1.js " | prepend: site.baseurl }}"></script>
<!-- async load function -->
<script type="text/javascript"> 
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
 <!--<script>
        async("https://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
</script>
<script>
    async("https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>-->

<script type="text/javascript">
	$.ajax({
    cache: true,
    type: "GET",
    url: "//47.98.153.72:8080/site/members/oe/lists",
//  async : true,
    datatype: "jsonp",
    jsonp:"callback",
    timeout: 30000,
    error: function (err) {
       console.log(err.msg);
    },
    success: function (data) {
        if (data.code == 0) {
        	var url_post = "//47.98.153.72:8080/files/";
            //var count = data.memberList.length;
			 var len = data.memberList.length;
			 console.log(len);
			var event_year = document.getElementById('event_year');
            var event_list = document.getElementById('event_list');
            
            var currentMembers = document.getElementById("0");
            var collaborators = document.getElementById("1");
            var former = document.getElementById("2");
            
            var teacher = document.getElementById("teacher");
            var student = document.getElementById("student");
            var Collaborators = document.getElementById("Collaborators");
            var Former = document.getElementById("Former");
            
            var event_li = document.createElement("li");
            var count = 0;
            for (; data.memberList[count];) {
                // 获取传来的数据并提出
                //var mid = data.memberList[count].mid;
                var mname = data.memberList[count].mname;
                var mnameEng = data.memberList[count].mnameEng;
                var pic = data.memberList[count].pic;
                var mjob = data.memberList[count].mjob;
                var mintroduce = data.memberList[count].mintroduce;
                var mintroduceEng = data.memberList[count].mintroduceEng;
                var mResearea = data.memberList[count].mResearea;
                var mReseareaEng = data.memberList[count].mReseareaEng;
               //alert(mname);
                event_li = document.createElement("li");
                event_img = document.createElement("img");
                event_h3 = document.createElement("h3");
                event_pintro = document.createElement("p");
                event_span = document.createElement("span");
                event_parea = document.createElement("p");
                
                event_img.setAttribute("src",url_post+pic);
                event_h3.innerText = mname+"/"+mnameEng;
                console.log(mname);
               	if(mjob=="teacher"){
                	event_li.innerHTML+= "<img src='"+url_post+pic+"'></img>";
                	event_li.innerHTML+= "<h3>"+mname+"/"+mnameEng+"</h3>";
                	event_li.innerHTML+= "<p>"+mintroduceEng+"</p>"
                	event_li.innerHTML+= "<span>Research Area：</span>"
                	event_li.innerHTML+= "<p>"+mReseareaEng+"</p>"
                	teacher.appendChild(event_li);
               	}else if(mjob=="student"){                	
                	event_li.innerHTML+= "<img src='"+url_post+pic+"'></img>";
                	event_li.innerHTML+= "<h3>"+mname+"/"+mnameEng+"</h3>";
                	event_li.innerHTML+= "<p>"+mintroduce+"</p>";
                	event_li.innerHTML+= "<span>研究方向/Research Area：</span>";
                	//event_li.innerHTML+= "<p>"+ mResearea+"/"+mReseareaEng+"</p>"
                	event_li.innerHTML+= "<p>"+ mResearea+"</p>";
                	student.appendChild(event_li);
               	}else if(mjob=="Collaborators"){
//             		event_pintro.innerText = mintroduce;
//              	event_span.innerText = "研究方向：";
//              	event_parea.innerText = mResearea;
                	event_li.innerHTML+= "<img src='"+url_post+pic+"'></img>";
                	event_li.innerHTML+= "<h3>"+mname+"/"+mnameEng+"</h3>";
                	event_li.innerHTML+= "<p>"+mintroduce+"</p>"
                	event_li.innerHTML+= "<span>研究方向：</span>"
                	event_li.innerHTML+= "<p>"+ mResearea+"</p>"
                	collaborators.appendChild(event_li);
               	}else if(mjob=="Former"){
               		;
               	}
                count++;
            }
        } else {
            alert(data.msg)
        }
    }
});
</script>
<script type="text/javascript">
$(function(){
	$('label').click(function(){
		$('.event_year>li').removeClass('current');
		$(this).parent('li').addClass('current');
		var tag = $(this).attr('for');
		$('#'+tag).parent().prevAll('div').slideUp(800);
		$('#'+tag).parent().slideDown(800).nextAll('div').slideUp(800);
	});
});
</script>
<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

