<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <ul class="list-inline">
                    {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/ARINELab">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                    {% endif %}
                </ul>
                </ul>
                <p class="copyright text-muted">
                    <a href="//arine.nzwang-lab.net/index">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</a>
                    <br>
                    <!-- This website has been visited <span id="busuanzi_container_site_uv"></span> times. -->
                   <span id="busuanzi_container_site_uv">
                    This website has been visited by <span id="busuanzi_value_site_uv"></span> persons.
                </span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- 网站统计 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<script>
        async("https://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
</script>
<script>
    async("https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<script src="{{ "/js/jquery-1.9.1.js " | prepend: site.baseurl }}"></script>
<!--<script src="//code.jquery.com/jquery-1.9.1.js"></script>-->
<script src="{{ "/js/jquery-ui.js" | prepend: site.baseurl }}"></script>
   
<script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
</script>

 <script>
 
$.ajax({
    cache : false,
    type : "GET",
    url : "//arine.nzwang-lab.net/downPage/oe/show",
    //data : $('#signupForm').serialize(),// 你的formid
    async : false,
    error : function(request) {
      alert("即将上线");
    },
    success : function(data) {
      if (data.code == 0) {
        var len = data.softlist.length;
        var accordion = document.getElementById('accordion')
        var count = 0;
        for(;data.softlist[count];){
          var soft_name = data.softlist[count].softName;
          var soft_introduction =  data.softlist[count].softIntroduction;
          var soft_fid = data.softlist[count].softFid;
          var soft_keywords = data.softlist[count].softKeywords;
          var soft_function = data.softlist[count].softFunction;
          var soft_author = data.softlist[count].softAuthor;
          var soft_authorEmail = data.softlist[count].softAuthorEmail;
          var soft_version = data.softlist[count].softVersion;
          var soft_createDate = data.softlist[count].softCreateDate;
          var soft_comment = data.softlist[count].softComment;
          var softType = data.softlist[count].softType;
          
          var div_head = document.createElement("div");
          var div_content = document.createElement("div");
          
          div_head.innerHTML += "<h3>"+soft_name+"</h3>";
          if(softType=="software_file"){
            div_content.innerHTML += 
          		"<p>"+
          		soft_introduction+"<br/>"+
          		"keywords :"+soft_keywords+"<br/>"+
                  "function :" + soft_function + "<br/>"+
          		"author :"+soft_author+"</br>"+
          		"authorEmail :"+soft_authorEmail+"<br/>"+
          		"<i><a style='color:blue' href='//arine.nzwang-lab.net/downPage/oe/dynamicBE?fid="+soft_fid+"'>点此去下载页</a></i>"+"<br/>"+
          		"Version :"+soft_version+"<br/>"+
//            "<img src='//arine.nzwang-lab.net/downPage/oe/"+soft_fid+"' width='140px' height='140px'>"
          		"</p>";
          }else if(softType=="software_url"){
            div_content.innerHTML += 
          		"<p>"+
          		soft_introduction+"<br/>"+
          		"keywords :"+soft_keywords+"<br/>"+
                "function :" + soft_function + "<br/>"+
                "注 :"+soft_comment+"<br/>"+
          		"author :"+soft_author+"</br>"+
          		"authorEmail :"+soft_authorEmail+"<br/>"+
          		"<br/>"+
          		"Version :"+soft_version+"<br/>"+
          		"</p>";
          }
          accordion.appendChild(div_head);
          accordion.appendChild(div_content);
         
          count++;
        }
      } else {
        alert(data.msg)
      }
    }
  });
</script> 

<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

