---
layout: default
header-img: "img/home-gb.jpg"
---
 <!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-1 post-container">
				<div id="tag-heading" class="site-heading">
					<hr class="small">
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main Content -->
<div class="container"  style="background-position-x: inherit;">
	<div class="row">
		<div class="
                col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-2 post-container" style="margin-top: -50px;“>
			<!--<hr class="middle">-->
			<!--<a href="{{'/members/' | prepend: site.baseurl }}"><span style="color:#101010;margin-left: -105px; text-align:left;font-size:23pt;LINE-HEIGHT: 28px">Introduction to ARINE Lab</span></a>-->
			<!--<hr class="middle">-->
			<img src="/img/member_intro/logo/未标题-1-01.png" style="background-size: cover; width: 417px;height: 312px;"/>
			<div class="short-about">
				<p style="color:#111111;font-size:14pt;LINE-HEIGHT: 30px">
					&nbsp; &nbsp; &nbsp;The Artificial Intelligence &amp; Neuro-Informatics Engineering (ARINE) Laboratory is affiliated with School of Computer Engineering, HuaiHai Institute of Technology (HHIT), which is led by Prof. Dr. Nizhuan Wang. 
					The aim of ARINE Lab is to push the more deep understanding of brain operating mechanism, evolution mechanism of brain deseases using machine learning methods and neuroimaging techniques (e.g., MRI, fMRI, DTI, EEG, fNIRs, etc.), and to develop new brain-like intelligence simulating algorithms to advance the AI research.
					 The research directions consist of data and information mining of multi-modal neuroimaging signals, occupational neuroplasticity, brain plasticity and mental health, brain connectomics and brain fingerprints, neurosurgery and neurobotics, machine learning and brain-like intelligence.
				</p>
				<!--<div class="
                col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1 sidebar-container"
                >-->
					<!-- Featured Tags -->
					<!--{% if site.featured-tags %}
					<section>
						<!-- no hr -->
						<!--<h5><a href="{{'/marked/' | prepend: site.baseurl }}">Technical Support</a></h5>
						<div class="tags">
							{% for tag in site.tags %} {% if tag[1].size > {{site.featured-condition-size}} %}
							<a href="{{ site.baseurl }}/marked/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
								{{ tag[0] }}
							</a> {% endif %} {% endfor %}
						</div>
					</section>
					{% endif %}
					<hr>
				</div>-->
			</div>
		</div>
	</div>
</div>